@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  /* ตั้งค่า Text Wrapping สำหรับแท็กเนื้อหาหลัก */
  p,
  li,
  blockquote,
  dd,
  dt {
    text-wrap: pretty;
  }
}

/* ตั้งค่า Transition สำหรับ Dark/Light Mode */
/* เราไม่ใส่ใน @layer base เพราะต้องการให้มันทำงานกับ Utility classes ของ Tailwind ด้วย */
body,
div,
main,
header,
footer,
section {
  transition: background-color 0.3s, color 0.3s;
  font-family: "IBM Plex Sans Thai", sans-serif;
}
